<script>
  // Check if dark mode is enabled
if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    // Dark mode is enabled
    changeFavicon('static/images/nithelp-favicon-white.png'); // Change to dark mode favicon
} else {
    // Dark mode is not enabled
    changeFavicon('static/images/nithelp-favicon-black.png'); // Change to light mode favicon
}

function changeFavicon(newFavicon) {
    var favicon = document.querySelector('link[rel="icon"]');
    if (favicon !== null) {
        favicon.href = newFavicon;
    } else {
        // Favicon link element doesn't exist, create one
        var link = document.createElement('link');
        link.rel = 'icon';
        link.type = "image/x-icon";
        link.href = newFavicon;
        document.head.appendChild(link);
    }
}

</script>
<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src = "/static/images/nithelp-favicon-white.png"> NITHelp</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="readMore">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ask">Ask Now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="notes">Notes</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="profile">{{user}}</a></li>
                <li><a class="dropdown-item" href="logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
